<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Smart Lock Web Console">
    <meta name="author" content="Sai Pathuri">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Access Control Console</title>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="static/css/grayscale.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> <span class="light">Analyzer</span>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#acl">Add Device</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#trusted">Trusted Devices</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#update">Update</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#password">Password</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Smart Lock</h1>
                        <p class="intro-text">Smart Lock Web Console.
                            <br>Created by ACM Projects Team 5.</p>
                        <a href="#acl" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Smart Lock</h2>
                <p>Smart Lock is an open source Raspberry Pi Smart Lock designed by a team at UT Dallas. Scroll <a class="page-scroll" href="#page-top">above</a> to get started.</p>
                <p>Smart Lock is open source. Visit <a href="https://www.github.com/saipathuri/Smart_Lock"> here</a> for more information.
            </div>
        </div>
    </section>
<!-- Settings Section -->
<div class="setting_block">
    <!-- ACL Section -->
    <div class="setting_row">
        <section id="acl" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2> Add Trusted Device </h2>
                    <form action='/add/#acl'>
                            Name:<br>
                            <input type="text" name="name" id="name" style="color:black">
                            <br>
                            MAC Address:<br>
                            <input type="text" name="macaddress" id="mac_address" style="color:black">
                            <br><br>
                            <input type="submit" value="Submit" onclick="retrieve('name', 'mac_address')" style="color:black">
                    </form>
                </div>
            </div>
        </section>
    </div>

    <!-- Trusted Devices Section -->
    <div class="setting_row">
        <section id="trusted" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Trusted Devices</h2>
                    {{ user_table }}
                </div>
            </div>
        </section>
    </div>

    <!-- Update Section -->
    <div class="setting_row">
        <section id="update" class="container content-section text-center">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div id="Settings" class="tabcontent" enctype="application/x-www-form-urlencoded">
                        <h2>Update Time</h2>
                        <p>Enter the time of the month you would like to update your smart-lock</p>
                        Current time is: {{ update_time }}
                        <form action='/update/#update'>
                            Day:<br>
                            <select name="day" id="day" style="color:black">
                                <option>Choose a number</option>
                            </select>
                            <br>
                            Hour:<br>
                            <select name="hour" id="hour" style="color:black">
                                <option>Choose a number</option>
                            </select>
                            <br>
                            Minute:<br>
                            <select name="minute" id="minute" style="color:black">
                                <option>Choose a number</option>
                            </select>
                            <br><br>
                            <input type="submit" value="Submit" style="color:black">
                        </form> 
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Passwored Section -->
<section id="password" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2> Change Password </h2>
            {{ pw_status }}
            <form action='/update_password/'>
                    Current Password:<br>
                    <input type="password" name="current_password" id="current_password" style="color:black">
                    <br>
                    New Password:<br>
                    <input type="password" name="new_password" id="new_password" style="color:black">
                    <br><br>
                    <input type="submit" value="Submit" style="color:black">
            </form>
        </div>
    </div>
</section>


    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact Smart Lock Team</h2>
                <p>Feel free to email us to provide some feedback on this software, give us suggestions for new features, or to just say hello!</p>
                <p><a href="mailto:ssp141230@utdallas.edu">ssp141230@utdallas.edu</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/saipathuri/Smart_Lock" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
    
                </ul>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; ACM Projects Team 5</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.js"></script>
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


    <!-- Theme JavaScript -->
    <script src="static/js/grayscale.min.js"></script>
    <script src="{{ url_for('static', filename='js/grayscale.min.js') }}"></script>

    <!-- Update List Populator-->
    <script src="{{ url_for('static', filename='input.js') }}"></script>
</body>

</html>
